<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 offset-md-4 text-center">
      <h1 class="header">Aquadine</h1>
    </div>
  </div>
  <div class="login">
    <div class="row mt-5 login">
        <div class="col-10 offset-1 col-xl-4 offset-xl-4 mt-3">
            <button class="btn btn-lg btn-primary w-100" routerLink="/register">SIGN-UP</button>
        </div>
      </div>
      <div class="row mt-4">
          <div class="col-10 offset-1 col-xl-4 offset-xl-4">
              <button  class="btn btn-lg btn-primary w-100" routerLink="/login">LOGIN</button>
          </div>
        </div>
    </div>
</div>

